<!DOCTYPE HTML>
<html lang="ko">
    <meta charset ="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>


<body>
  <section class="main">
    <div class="jumbotron">
      <h1 class="display-4">날씨 좋은 오늘을 위한, 소풍 도시락!</h1></h1>
      <p class="lead">소풍 도시락으로 먹기 좋은 음식을 소개해드려요~</p>
    </div>
  </section>
  
  <div class="card-deck">
  <div class="card">
    <iframe width="420" height="315"
    src="https://www.youtube.com/watch?v=10fl2mebYHs">
    </iframe>
    <div class="card-body">
      <h5 class="card-title">김밥</h5>
      <p class="card-text">
        <ol>재료: 김 1팩, 시금치 1단(350g), 달걀 10개, 당근 1개, 밥 600g, 맛소금(밥 밑간 용) 1작은술(3g), 참기름(밥 밑간 용) 2큰술(12g), 맛소금 적당량, 황설탕 적당량, 참기름 적당량, 식용유 적당량</ol>
        <ol>1. 시금치는 뿌리를 제거한 후 프라이팬에 식용유를 두르고 맛소금을 뿌려 볶는다.</ol>
        <ol>2. 당근은 채칼을 이용하여 채 썬다.</ol>
        <ol>3. 식용유를 두른 프라이팬에 당근을 넣고 맛소금을 뿌려 볶아준다.</ol>
        <ol>4. 달걀은 맛소금, 황설탕을 넣어 풀어준 후 프라이팬에 식용유를 두르고 부친다.</ol>
        <ol>5. 밥에 맛소금, 참기름을 넣고 주걱을 이용하여 골고루 섞어준다.</ol>
        <ol>6. 단무지 절임용 황설탕, 양조식초, 정수물을 큰 볼에 담아 설탕이 녹을 정도 까지 섞어준다.</ol>
        <ol>7. 통 단무지는 두껍게 썰어 준비한다.</ol>
        <ol>8. 섞어둔 절임 양념장에 단무지를 넣고 섞어 재워둔다.</ol>
      </p>
    </div>
  </div>
  
  <div class="card">
    <iframe width="420" height="315"
    src="https://www.youtube.com/watch?v=QC3zuQ7o_Rc">
    </iframe>
    <div class="card-body">
      <h5 class="card-title">아스파라거스 베이컨말이</h5>
      <p class="card-text">
        <ol>재료: 아스파라거스 5개, 베이컨 10줄</ol>
        <ol>1. 아스파라거스는 깨끗히 씻고, 굵은 밑둥을 2~3cm정도 잘라주세요.</ol>
        <ol>2. 넉넉한 물에 굵은소금을 넣고 끓여주세요.</ol>
        <ol>3. 물이 끓기 시작하면 손질한 아스파라거스를 넣고 1분정도 데쳐주세요.</ol>
        <ol>4. 데친 아스파라거스는 재빨리 찬물에 헹구고 물기를 닦아주세요.</ol>
        <ol>5. 베이컨에 아스파라거스를 올려 또르르 말아주세요.</ol>
        <ol>6. 기름기 없는 프라이팬을 중불로 예열해주세요.</ol>
        <ol>7. 베이컨 말아 둔 끝부분이 바닥을 향도록 프라이팬에 올려주세요.</ol>
        <ol>8. 베이컨이 노릇노릇하게 익기 시작하면 완성!</ol>
      </p>
    </div>
  </div>
  
  <div class="card">
    <iframe width="420" height="315"
    src="https://www.youtube.com/watch?v=ehcQpjMWXak">
    </iframe>
    <div class="card-body">
      <h5 class="card-title">딸기 라떼</h5>
      <p class="card-text">
        <ol>재료: 딸기, 설탕, 우유, 레몬즙</ol>
        <ol>1. 딸기를 씻어준뒤 반으로 갈라줍니다, 데코용 딸기는 미리 빼주세요</ol>
        <ol>2. 딸기와 동일한 양의 설탕을 부어줍니다</ol>
        <ol>3. 포크나 감자 으깨기 등 으로 잘 으깨줍니다</ol>
        <ol>4. 레몬즙 5~10방울을 넣어줍니다</ol>
        <ol>5. 밀크폼용 따듯한 우유 100ml를 휘핑기로 만들어줍니다</ol>
        <ol>6. 병에 딸기 👉 생딸기 추가 👉 우유 300ml 순서대로 부어주세요</ol>
        <ol>* 하루뒤에 드시면 더욱 맛있어요!</ol>
      </p>
    </div>
  </div>
  </div>
    
  
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>